.page#etusivu
    .wrap
        .col.span-3#intro
            h2 Mikä on kansalaisaloite?
            p.ingress
                | Kansalaisaloite on aloite uudesta lakiehdotuksesta tai ehdotus lainvalmisteluun ryhtymisestä. Kansalaisaloitteella voidaan ehdottaa esimerkiksi lain muuttamista, uutta lakia tai voimassa olevan lain kumoamista.
            h3.intro Näin teet aloitteen
            .petition-phases.frontpage-illustration
                .phase
                    .indicator.done
                    .label Luonnos
                .phase
                    .indicator.done
                    .label Tarkastettavana
                .phase
                    .indicator.done
                    .label Julkaistu, äänten keräys käynnissä
                .phase
                    .indicator.done
                    .label Kannattajalista tarkastettavana
                .phase
                    .indicator.done
                    .label.no-border Lähetetty eduskuntaan
            p
                | Aloitepalvelu.fi on kansalaisille ja kansalaisjärjestöille suunnattu palvelu, jonka tarkoituksena on lisätä päätöksenteon läpinäkyvyyttä ja kansalaisten vaikuttamismahollisuuksia. Palvelu mahdollistaa jo tehtyjen aloitteiden kannattamisen tai kokonaan uusien kansalaisaloitteiden tekemisen verkossa.
            p
                | Aloitteen laatiminen on jaettu palvelussa vaiheisiin, joita seuraamalla voit helposti tarkkailla aloitteen tilaa, etenemistä ja sen saamaa kannatusmäärää. Yllä olevassa kuvaajassa esitetyt vaiheet kattavat aloitteen koko elinkaaren vedoksesta eduskunnalle lähetettyyn, 50 000 kannattajaa keränneeksi lakialoitteeksi tai ehdotukseksi asti.

            a.dummy(href='#').more Lue lisää »

        .col.span-3#my-petitions
            h2.subpage Omien aloitteidesi tilanne
            table.user-petitions
                thead
                    tr.header
                        td.date-label Päivämäärä
                        td.name-label Aloitteen nimi
                        td.status-label Aloitteen tila
                tbody.ownedpetitions
                    tr
                        td.date
                        td.name
                            a.title(href='#')
                        td.status


        .col.aside.start-here
            .aside-content
                h2 Aloita tästä
                p Etsi jo tehtyjä ja käynnissä olevia aloitteita ja vaikuta kannattamalla.
                form.search
                    input.keyword(type='text', name='keyword')
                    input.search.dummy(type='image', src='/img/search-button.png', name='search', value='Hae')
                p Jos et löydä etsimääsi jo alullepannuista aloitteista, voit aloittaa uuden:
                a.button(href='/#/uusi-aloite') Tee uusi kansalaisaloite

        .col.aside.help
            .aside-content
                h2 Kaipaatko apua
                p
                    | Jos kaipaat apua aloitteen tekemisessä tai sinulla on muuta kysyttävää kansalaisaloitteista,
                    | ota yhteyttä oikeusministeriöön:

                p puh. 09 160 03 tai 09 578 13
                p email: osallistumisymparisto.om@om.fi

                p Voit ottaa yhteyttä myös yhteydenottolomakkeella:
                a.button.dummy(href='') Ota yhteyttä

        .col.lift
            h2 Uusimmat aloitteet
            ul.votablepetitions
                li
                    a.title(href='#')
            a.more.more-petitions.dummy(href='#') näytä lisää &raquo;

        .col.lift
            h2 Eduskunnan käsittelemät
            ul.parliamentpetitions
                li
                    a.title(href='#')
            a.more.more-petitions.dummy(href='#') näytä lisää &raquo;

        .col.button-group
            a.dummy(href='#')
                span Vireillä olevat aloitteet
            a.dummy(href='#')
                span Eduskuntaan lähetetyt aloitteet
            a.dummy(href='#')
                span Selaa aloitteita aiheittain
            a.dummy(href='#')
                span Keskustele aloitteista osallistumisympäristössä

        div(style='clear:both;')


