.page#kannatus
    .wrap
        .col.span-3
            div.notification.supported.top
                span Olet kannattanut tätä aloitetta.
                p(style='padding: 10px 30px; margin: 0;')
                    a.dummy(href='#') &raquo; Lähetä vahvistus ja rekisteritiedot sähköpostiini
                    br
                    a(href='/') &raquo; Palaa etusivulle
            h2.subpage Laki talousjätevesien käsittelystä vesihuoltolaitosten viemäriverkostojen ulkopuolisilla alueilla
            .petition-progress
                .progress-bar
                    .green
                .label-left 0
                .collected
                    .label Aloitteen saama kannatusmäärä:
                    .amount 39412
                .needed
                    .label Tarvittavat allekirjoitukset
                        br
                        |14.6.2012 mennessä:
                    .amount 10588
                .label-right 50 000
            .text-content
                h3.name Laki talousjätevesien käsittelystä vesihuoltolaitosten viemäriverkostojen ulkopuolisilla alueilla
                span.date 18/12/2009
                span.type Lakialoite

                hr

                h4 Aloitteen sisältämät asiasanat
                ul.keywords
                    li talousjätevesi
                    li jätevesilaki
                    li viermäriverkosto
                    li vesihuoltolaitos
                div(style='clear:both;')

                hr

                h4 Aloitteen saama taloudellinen tuki
                p Ei ole

                hr

                h4 Aloitteen sisältö
                p.law_proposal
                    strong 1 §
                    br
                    |Tällä lailla kumotaan talousjätevesien käsittelystä vesihuoltolaitosten viemäriverkostojen ulkopuolisilla alueilla 11 päivänä kesäkuuta 2003 annettu valtioneuvoston asetus (542/2003).
                    br
                    br
                    strong 2 §
                    br
                    |Tämä laki tulee voimaan päivänä kuuta 201.
                hr
                h4 Perustelut
                p.rationale
                    |Pääministeri Anneli Jäätteenmäen hallituksen säätämän jätevesiasetuksen mukaan vesihuolto-laitosten viemäriverkostojen ulkopuolisilla alueilla talousjätevesistä ympäristöön joutuvaa kuormitusta on vähennettävä orgaanisen aineen osalta vähintään 90 prosenttia, kokonaisfosforin osalta vähintään 85 prosenttia ja kokonaistypen osalta vähintään 40 prosenttia verrattuna käsittelemättömän jäteveden kuormitukseen. Jos jätevesijärjestelmä on rakennettava tai sen toimintaa tehostettava, tätä koskeva suunnitelma on liitettävä rakennus tai toimenpidelupahakemukseen taikka rakentamista koskevaan ilmoitukseen. Lisäksi jokaisesta jätevesijärjestelmästä on oltava ajan tasalla olevat käyttö ja huolto-ohjeet. Jätevesijärjestelmää on käytettävä ja huollettava ohjeiden mukaisesti siten, että se toimii suunnitellulla tavalla ja että asetetut jätevesien käsittelyvaatimukset täytetään.
                    br
                    br
                    |Asetuksen mukaan viemäriverkostojen ulkopuolisissa kiinteistöissä jätevesijärjestelmän tulee olla käytössä vuoteen 2014 mennessä. Vuonna 2003 annetusta jätevesiasetuksesta on kuusi ensimmäistä siirtymävuotta jo kulunut, mutta asetuksen piirissä olevista vakituisista ja vapaa-ajan asunnoista vain pieni osa täyttää vaatimukset.
                    br
                    br
                    |Sen lisäksi, että asetuksen mukaiset uudistuk-set ovat aikataulullisesti haastavia, velvoittavat ne myös Suomen ympäristökeskuksen seuraamaan yleisesti saatavilla olevia jäteveden käsittelylaitteistoja ja -menetelmiä sekä niillä saavutettavia tuloksia. Ympäristökeskuksen tulee saattaa tällainen tieto kansalaisten helposti saataville.
                    br
                    br
                    |Jätevesijärjestelmien puhdistustuloksen arviointi yksiselitteisesti on kuitenkin vaikeaa ja monimutkaista. Kiinteistökohtaisista jätevesijärjestelmistä ympäristöön pääsevän kuormituksen on todettu vaihtelevan eri viikkoina, päivinä
                    ja kellonaikoina. Todellisen keskimääräisen kuormituksen määrittäminen edellyttäisi jätevesien määrän ja laadun  jatkuvaa seurantaa, mikä on käytännössä vaikeaa toteuttaa.
                    br
                    br
                    |Tätä todistaa ympäristökeskuksen eräs toimintamalliesimerkki jätevesikuormituksen ja puhdistustulosten arvioimiseksi: Määritetään jätevesien käsittelyjärjestelmästä ympäristöön johdettavan jäteveden näytteenottokohta, selvitetään vedenkulutus asukasta kohti vuorokaudessa, sovitaan laboratorion kanssa jätevesinäytteiden laatututkimuksista ja näyteastioista. Ensimmäisenä näytepäivänä otetaan kokoomanäyte ja analysoidaan se laboratoriossa, toisena näytepäivänä vähintään kahden viikon päästä otetaan jälleen kokoomanäyte ja analysoidaan laboratoriossa. Kuormitukset ja kuormituksen vähenemä lasketaan molemmille näytepäiville ensin erikseen ja lasketaan kuormituksen keskimääräinen vähenemä.
                    br
                    br
                    |Jätevesien käsittelyjärjestelmän toimivuutta voivat myös heikentää monet asiat: Jäteveden määrä on liian suuri, eli puhdistamo on liian pieni. Jäteveden määrä voi vaihdella paljon. Hyvä puhdistamo kestää kuormitusvaihteluja, muttei
                    kuitenkaan liian suuria vaihteluja. Saostuskaivot saattavat olla täynnä lietettä, ja sitä karkaa myös puhdistamoon. Puhdistamo on joko asennuksen jäljiltä tai routanousun seurauksena vinossa. Puhdistamoon voi päästä pintavesiä. Vie-märiin pääsee biologista prosessia tuhoavaa tai sen toimintaa heikentävää kemikaalia. Joissain tapauksissa tuuletus ei pelaa tai ei riitä. Esimerkkejä on lukuisia. — Siitä huolimatta, että ympäristöhallinto on viime aikoina korostanut uudis-tuksen tärkeyttä pohjavesien suojelemiseksi, ei puhdistuslaitoksille ole kuitenkaan asetettu minkäänlaisia vaatimuksia ulosteperäisten bakteerien poistamiseksi. Tämä olisi pohjavesien suojelun kannalta oleellisinta.
                    br
                    br
                    |Jätevesiasetus valmisteltiin aikoinaan virkamiestyönä, ja hallitus teki päätöksen ilman, että asiaa mitenkään käsiteltiin eduskunnassa. Lopputuloksena on ollut kalliita kiinteistökohtaisia ratkaisuja, joilla ei kuitenkaan saavuteta toivot-tuja tuloksia ympäristön kannalta. Jätevesiasetuksella luotiin puhdistuslaitteiden myyjille yli kahden miljardin euron markkinat. Asetuksen
                    perusteluissa aikoinaan laitteistojen hinnaksi arvioitiin noin 3 000 euroa per talo tai mökki, mutta käytännössä hintataso on ollut moninkertainen, paikoin jopa viisin-kuusinkertainen. Ympäristökeskuksen ja vesiensuojeluyhdistysten selvityksissä on havaittu, että puhdistuslaitteet eivät toimi niin tehokkaasti kuin laitteiden valmistajat lupaavat. Erityisesti asetuksen edellyttämä fosforin ja typen talteenotto ei onnistu, koska laitteet ovat yleensä yhden hengen tai pienperheen talouteen liian suuria ja vaikeakäyttöisiä.
                    br
                    br
                    |Lisäksi puhdistusjärjestelmät ovat työläitä hoitaa ja huoltaa. Kestävän kehityksen ja ympäris-tönsuojelun näkökulmasta haja-asutuksen jäte-vesiuudistus on ollut vanhanaikainen ja lyhytnä-köinen linjaus. Ympäristöministeriön selvitysmies Lauri Tarasti on ehdottanut vapautusta yli 70-vuotiaille
                    asukkaille sekä jatkoaikaa vähävaraisille, hankalan paikan kiinteistöille sekä niille, joiden luo kunta on lähivuosina rakentamassa viemäriverkkoa. Tämänkaltaiset esitettävät keinot jo kertovat siitä, ettei jätevesiasetus ole riittävän selkeä ja tarkkarajainen.
                    br
                    br
                    |Vuonna 2003 annettu jätevesiasetus tulee kumota. Saavutetut ympäristöhyödyt ovat varsin vaatimattomat suhteutettuna kalliisiin investoin-teihin. Tutkimustietoa haja-asutuksen ravinne-päästöistä vesistöihin ei juurikaan ole. Ei myöskään kyetä mitenkään osoittamaan, millainen vaikutus jätevesiasetuksen edellyttämillä kalliilla jätevedenpuhdistusjärjestelmillä loppujen lopuksi on vesistöjen ja Itämeren suojelulle. Monille kiinteistöjen omistajille taloudelliset investoinnit ovat kohtuuttoman suuret. Asetuksen kumoamisen yhteydessä on aiheellista harkita myös, miten voidaan korvata jo asennetuista jätevesijärjestelmistä aiheutuneita kuluja. Viemäriverkoston ulkopuolisten kiinteistöjen jätevesien käsittelyyn ja ympäristötavoitteiden saavuttamiseksi tulee kehittää toisenlaista lainsäädäntöä, joka mahdollistaa tarkoituksenmukaisten, toimivien ja kohtuuhintaisten kiinteistökohtaisten ratkaisujen tekemisen.

                span.rationale_attachments.attachments
                    a.dummy(href='http://www.eduskunta.fi/triphome/bin/thw/trip?${APPL}=utpla&${BASE}=faktautpLA&${THWIDS}=0.52/1324364092_244948&${TRIPPIFE}=PDF.pdf').rationale_attachment.link Lakialoite talousjätevesien käsittelystä
                    a.dummy(href='#').rationale_attachment.pdf trip.pdf
                    p.virus-check-ok liitetiedostot virustarkastettu
                hr
                h4 Viittaus ajantasaiseen lakiin
                p
                    span.reference_number 127
                    &nbsp/
                    span.reference_year 2009
                    span.reference_name Laki yhteistoiminnasta yrityksissä annetun lain 19 §:n muuttamisesta
                a(href='http://www.finlex.fi/fi/laki/alkup/2009/20090127') http://www.finlex.fi/fi/laki/alkup/2009/20090127

            .button-row
                .text-links
                    p Aloitteen kannattaminen vaatii
                    a.dummy(href='#') vahvan rekisteröitymisen.
                a.button.submit(href='#') Kannata aloitetta
                div(style='clear:both;')
            div.notification.supported
                | Olet kannattanut tätä aloitetta.
                p(style='padding: 10px; margin: 0;')
                    a.dummy(href='#') &raquo; Lähetä vahvistus ja rekisteritiedot sähköpostiini
                    br
                    a(href='/') &raquo; Palaa etusivulle


        .col.button-group
            a(href='#').dummy
                span Kopioi aloitteen www-osoite leikepöydälle
        a(href='#').fb-button.dummy
                img(src='../img/fb-share.png')

        .col.aside.information
            .aside-content
                h2 Aloitteen julkiset tiedot
                p Vireillepanija:
                    br
                    strong.initiators-name Pertti Hemmilä
                p Yhteystiedot:
                    br
                    strong.initiators-contact pertti@kokoomus.fi

        .col.aside.start-here
            .aside-content
                h2 Muut aloitteet
                p Etsi jo tehtyjä ja käynnissä olevia aloitteita ja vaikuta kannattamalla.
                form.search
                    input.keyword(type='text', name='keyword')
                    input.search.dummy(type='image', src='/img/search-button.png', name='search', value='Hae')
                p Jos et löydä etsimääsi jo alullepannuista aloitteista, voit aloittaa uuden:
                a.button(href='/#/uusi-aloite') Tee uusi kansalaisaloite

        div(style='clear:both;')


