.page#vetuma
  .vetuma-login
    form.login
      .header Tunnistaudu verkkopankkitunnuksilla
      .input
        label Käyttäjätunnus
        input.username(type='password')
      .input
        label Avainluku
        input(type='password')
      .input.submit
        input(type='submit', value='Kirjaudu')
  .overlay.overlay-2
  .overlay.overlay-1