#vetuma
    .vetuma-login
        padding-top 100px
    padding-top 0
    font-family "Helvetica Neue", Helvetica, Arial, Sans-Serif
    background #f0f0f0
    font-size: 14px
    -webkit-user-select none
    user-select none
    height 100%
    color #333
    *
        -webkit-tap-highlight-color: rgba(0,0,0,0);

    a
        color #064ae5
        img
            border-width 0px


    h1, h2, h3, h4, h5, h6
        font-weight bold

    h1
        font-size 2.4em

    h2
        font-size 2.0em

    h3
        font-size 1.6em

    h4
        font-size 1.4em

    h5
        font-size 1.2em

    h6
        font-size 1.0em

    .header
        background-color #406366
        color #fff
        font-size 1.5em
        padding 10px

    .wrap
        margin 0 auto
        width 960px

    .content
        padding 20px 0

    .container
        border 1px solid #406366
        padding 10px

    th
        text-align left
        color #808080
        font-weight normal

    #invoices-table
        width 938px
        margin 20px 0
        th
            padding 5px 5px
        td
            border-top 1px solid #d0d0d0
            padding 5px 5px
        .biller
            font-weight bold
        .amount
            font-weight bold
        .date
            font-weight bold

    #invoice h2, #invoice-paid h2
        padding-top 20px

    #invoice-table
        margin 20px 0
        th
            padding 5px 0px
        td
            padding 5px 5px
            font-weight bold
        .view
            font-weight normal
            padding-top 20px
            padding-left 0px
        .pay
            padding-left 0px
            padding-top 10px

    .paid-invoice-title
        font-weight normal

    form.login
        border 1px solid #406366
        width 400px
        margin 0 auto
        background #fff
        header
            background-color #c5d0d1
            color #333
            font-weight bold
            padding 10px 20px
        label
            display inline-block
            width 120px
            font-weight bold
        input[type=password]
            padding 5px
            width 220px
        .input
            padding 10px 20px
        .submit
            text-align right
            padding-right 20px
            input
                font-size 1.2em

    #paper-invoice-viewer
        display none
        position absolute
        top 0
        left 0
        width 100%
        min-height 100%
        background-color rgba(0,0,0,0.5)

    #paper-invoice-header
        height 159px
        margin-bottom 20px
        background url('../img/paper-invoice-header-back.png') repeat-x left bottom
        a.close
            background url('../img/close-paper-invoice-viewer.png') no-repeat left top
            width 37px
            height 37px
            float right
            margin 20px
            display block

    #view-all-paper-invoices
        margin-left 30px
        margin-top 20px
        display block

    #paper-invoice-container
        margin 30px auto
        width 800px
        background #fff