.ui-form
    .field-area
        .small
            width 45px
        .medium
            width 300px

.start-here .search .keyword
    width 140px

#uusi-aloite .ui-form .field.date input
  width 120px